@use 'base/mixins' as m;
@use 'base/variables' as v;

.acciones {
    padding: 2rem;
    margin-top: 3rem;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }
    
    a {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        color: #412A4C;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}