@use 'base/variables' as v;
@use 'base/mixins' as m;

.crear {
    margin-top: 3rem;

    .contenedor-sm {
        .descripcion-pagina {
            color:darken(#B777F2, 10%);
        }
    }
    
    .uptask {
        @include m.textoDegradado(#B777F2);
    }

    input[type="submit"] {
        border-radius: 2.6rem;
        @include m.boton(#B777F2, v.$blanco);
    }

    .acciones {
        a {
            color:rgb(65, 42, 76);
            &:hover {
                cursor: pointer;
                color:#B777F2;
            }
        }
    }
}
