@use 'base/mixins' as m;
@use 'base/variables' as v;

.login {
    margin-top: 3rem;
    .uptask {
        @include m.textoDegradado(#E57CD8);
    }

    input[type="submit"] {
        border-radius: 2.6rem;
        @include m.boton(#E57CD8, v.$blanco);
    }

    .acciones {
        a {
            color:#412A4C;
            &:hover {
                cursor: pointer;
                color:#E57CD8;
            }
        }
    }
}


