@use 'base/variables' as v;
@use 'base/mixins' as m;

.olvide {
    margin-top: 3rem;

    .contenedor-sm {
        .descripcion-pagina {
            color:lighten(#FF897A, 5%);
        }
    }
    
    .uptask {
        background: linear-gradient(to right, #FF897A 30%, lighten(#FF897A, 80%) 100%);
        color: transparent;
        background-clip: text;
        font-size: 6rem;
        text-align: center;

        @include m.tablet {
        font-size: 7.5rem;
         }
    }

    input[type="submit"] {
        border-radius: 2.6rem;
        @include m.boton(#FF897A, v.$blanco);
        &:hover {
        background-color: lighten( #FF897A, 5% );
        cursor: pointer;
        }
    }

    .acciones {
        a {
            color:rgb(65, 42, 76);
            &:hover {
                cursor: pointer;
                color:#FF897A;
            }
        }
    }
}
