@use 'base/mixins' as m;
@use 'base/variables' as v;

.reestablecer {
    margin-top: 3rem;

    .contenedor-sm {
        .descripcion-pagina {
            color:lighten(#613263, 5%);
        }
    }
    .uptask {
        background: linear-gradient(to right, #613263 50%, lighten(#613263, 80%) 100%);
        color: transparent;
        background-clip: text;
        font-size: 6rem;
        text-align: center;

        @include m.tablet {
        font-size: 7.5rem;
         }
    }

    input[type="submit"] {
        border-radius: 2.6rem;
        @include m.boton(#613263, v.$blanco);
    }

    .acciones {
        a {
            color:#412A4C;
            &:hover {
                cursor: pointer;
                color:#E57CD8;
            }
        }
    }
}