@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    opacity: 0;
    background-color: #2c1338;
    height: 0;
    overflow: hidden;
    transition-property: opacity;
    transition-duration: 500ms;

    &.mostrar {
        padding: 2rem;
        opacity: 1;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(44 19 56 / 0.90);
        @include m.tablet {
            display: none;
        }
    }

    &.ocultar {
        opacity: 0;
    }

    @include m.tablet {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: #2C1338;
    }

    .contenedor-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: #D164C5;
            margin: 0;
            text-align: center;
        }

        .cerrar-menu {
            display: flex;
            justify-content: center;
            height: 5rem;
            width: 5rem;

            img {
                &:hover {
                    cursor: pointer;
                }
            }

            @include m.tablet {
                display: none;
            }
        }
    }

    .sidebar-nav {
        margin-top: 5rem;

        a {
            color:#FDE5DC;
            display: block;
            padding: 0.7rem;
            transition-property: color;
            transition-duration: 300ms;
            text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: 2.5rem;
            text-align: center;

            &:hover,
            &.activo {
                color: lighten(#FDE5DC, 20%);
                background-color: lighten(#2C1338, 3%);
                border-radius: .5rem;
            }

            @include m.tablet {
            font-size: 1.3rem;
            margin-bottom: 1.5rem;
            text-align: left;
            }
        }
    }

    .cerrar-sesion-mobile {
        margin-top: 10rem;
        .cerrar-sesion {
            @include m.boton(rgb(221, 111, 209), v.$blanco);
        }

        @include m.tablet {
            display: none;
        }
    }
}